/* Loading.module.css */

.loaderWrapper {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 999999;
}

/* Top Black Section */
.topSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
  180deg,
  #000000 0%,
  #060a30 35%,
  #060a30 70%,
  #060a30 100%
);
  transition: transform 1.2s ease;
  z-index: 1;
}

/* Bottom Black Section */
.bottomSection {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
  180deg,
  #060a30 0%,
  #060a30 35%,
  #060a30 70%,
  #000000 100%
);
  transition: transform 1.2s ease;
  z-index: 1;
}

/* Open Animation */
.topOpen {
  transform: translateY(-100%);
}

.bottomOpen {
  transform: translateY(100%);
}

/* Logo Center */
.logoBox {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%) scale(1);
  transition: all 1s ease;
}

/* Logo Zoom Out */
.logoZoom {
  transform: translate(-50%, -50%) scale(12);
  opacity: 0;
}

/* Logo */
.logo {
  width: 140px;
  object-fit: contain;
  animation: logoPop 1.2s ease;
}

/* Logo Animation */
@keyframes logoPop {
  0% {
    opacity: 0;
    transform: scale(0.4) rotate(-180deg);
  }

  60% {
    opacity: 1;
    transform: scale(1.1) rotate(0deg);
  }

  100% {
    transform: scale(1);
  }
}