.Footer {
    width: 100%;
    background-color: #0D1132;
    color: white;
}

/* text */

.FooterName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.FooterLine {
    margin-top: 10px;
    width: 100%;
    height: 2px;
    background-color: white;
}

.FooterLines {
    width: 100%;
    height: 2px;
    background-color: white;
}

.FooterName h1 {
    font-size: 114px;
    text-transform: capitalize;
}

/* Footer */

.Footerwidth{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 40px 50px;
    width: 100%;
}

/* TextPara */
.FooterClass{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.FooterImgText{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.FooterImgText img{
  width: 60px;
}
.FooterImgText h3{
    font-size: 30px;
}

.FooterClass{
    max-width: 390px;
    font-size: 14px;
}

.SocialIcons{
    display: flex;
    align-items: center;
    gap: 18px;
}

.SocialIcons {
    font-size: 22px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.SocialIcons :hover{
    transform: translateY(-4px);
    color: #cfcfcf;
}


.FooterQuciK{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.FooterQuciK h4{
    font-size: 20px;
    font-weight: 500;
}
.FooterLinks{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 7px;
}

.FooterLinks span{
    font-size: 14px;
}

/* Last Links */
.LastLinks{
    padding: 10px 50px;

    display: flex;
    justify-content: space-between;
    align-items: start;
}
.LastLinks p{
    font-size: 12px;
}